* {
    font-family: 'Figtree', sans-serif;
}


.banner-image {
    background-image: url(../imagines/fondo\ menu2.jpg) ;
    background-size: cover;
  }

 .Escritomp{
    background-color: rgb(137, 116, 60);
 }
 .containermp{
    background-color: rgb(137, 116, 60);
 }