
  .card {
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);} 

    form {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      }
      
      form label {
        font-weight: bold;}

        .imagencontacto{
          background-image: url(../imagines/fondo\ menu2.jpg);
        background-size: cover;
        background-position: center center;
        height: 100vh;}
        
        .header{ height: 70%;
         
          background-size: cover;
          background-position: center center;
          height: calc(100vh - 80px);}
   
        @media (max-width: 767px) {
          
          
      }
      
      /* Estilo para dispositivos de escritorio */
      @media (min-width: 768px) 
        